{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="card">
    <img src="{{ user.profile.image.url }}"  alt="John" style="width:100%">
    <h5 class="text-center">{{user.username}}</h5>
    <p class="text-center"> {{user.email}}</p>
    <p class="text-center"> {{user.profile.bio}}</p>
    {% if request.user.profile.neighbourhood %}
    <p class="text-center">My Hood <a class="btn btn-sm btn-info" href="{% url 'single-hood' user.profile.neighbourhood.id %}">{{ user.profile.neighbourhood.name }}</a>
    </p>
    {% endif %}
   
    <p><button>Contact</button></p>
  </div>
{% endblock %}