{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
        <a href="{% url 'new-hood' %}" class="btn btn-sm btn-info mb-2"> New Hood</a>
</div>
{% for hood in all_hoods %}
<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="{{ hood.hood_logo.url }}" alt="{{ hood.name }}"  style="width:300px;height:300px;">
      </div>
      <div class="flip-card-back">
        <h5> {{ hood.name }}  ({{hood.location}}) <span>{{hood.members.count}} member{{hood.members.count|pluralize}}</span></h5>
        <p>{{hood.description}}</p>
        {% if request.user.profile.neighbourhood == hood %}
        <a href="{% url 'leave-hood' hood.id %}"><button> Leave Hood</button></a>
        {% elif not request.user.profile.neighbourhood %}
        <a href="{% url 'join-hood' hood.id %}"><button> Join Hood</button> </a>
        {% endif %}
        
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}